// Footer
.contact{
    margin-top: 7rem;
    margin-bottom: -8rem;
    text-align: center;
    font-size: 3rem;
}
footer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    input{
        justify-content: space-between;
        padding: 10px 27px;
        margin-bottom: 20px;
    }

    textarea{
        padding: 20px;
        width: 420px;
        height: 200px;
        margin-bottom: 20px;
    }

    a{
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 10px 20px;
        font-family: sans-serif;
    }
}
