<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Conditional Statement</title>
</head>

<body>
    <!-- Conditional Statement -->
    <% if(userId===20) {%>
        <h1>User ID: <%= userId %></h1>
    <% } else if (userId===30) {%>
        <h2>User ID: <%= userId %></h2>
    <% } else { %>
        <h2>nothing...</h2>
    <% } %>
</body>

</html>