@import "Components/bodyStyling";
@import "Components/headerStyling";
section{
    height: 20hv;
    background-color: crimson;
}
article{
    height: 30vh;
    background-color: teal;
}
footer{
    height: 100vh;
    background-color: blanchedalmond;
}