// Conditional Statement

/*   SYNTAX
if condition{
    code
}
else if condition{
    code
}
else{
    code
}
*/

// $value:5;

// p{
//     @if 1+1==2{
//         font-size: 20px;
//         background-color: teal;
//     }

//     @if 10>3{
//         background: pink;
//     }

//     @if $value<6{
//         background-color: blue;
//     }
// }

// $value:6;
// p{
//     @if $value==1{
//         color:blue;
//     }
//     @else if $value>5 and $value<10{
//         color: teal;
//     }
//     @else{
//         color: crimson;
//     }
// }


@mixin styles($value){
    width: $value+px;
    height: $value+px;

    @if $value>0 and $value<=20{
        color: orange;
    }
    @else if $value>20 and $value<=50{
        color: teal;
    }
    @else{
        color: crimson;
    }
}

.section{
    // @include styles(10);
    // @include styles(25);
    @include styles(55);

}